body {
    background-color: rgb(210, 207, 207);
    margin: 0;
    padding: 0;
}


.A2{
   text-align: center;
}

#Assignment1{
    border: 4px solid rgb(238, 95, 119);
    width:500px;
    padding: 10px;
    margin: auto;
    overflow: scroll;
}


.cake{
    width: 20%;
    height:auto;
    border: 3px solid rgb(73, 71, 71);
    border-radius: 8px;
    margin-left: 4rem;
}


/* nav bar */


li a {
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* nav-bar elements  */
    .nav-bar{
        background-color: rgb(23, 24, 24);
        padding: 24px;
    }

   .nav-bar ul{
        list-style: none;
        overflow: hidden;
        /* border:2px solid rgb(214, 35, 35); */
        width:530px;
        margin: 0px auto;
       
       
    }

    .nav-bar li{
        width:120px;
        height:40px;
        margin: 0px 4px;
        float:left;
    }


    li a:hover{
        background-color: orange;
    }

   .nav-bar a{
        display: block;
        color:white;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        text-align: center;
    }

    /* color block */
    .row.column.top.middle.bottom{
        border: 2px solid blue;

    }

/* button */
    button.button{
        margin-left: 50%;
        padding:16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border:none;
        border-radius: 5px;
        color: rgb(245, 239, 237);
        background-color: orange;
        cursor: pointer;
    }

/* bottom page */
    h3{
        text-align: center;
        color:rgb(247, 245, 241);
        padding: 3rem;
        background-color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        /* div.column.bottom{
            width:4rem;
        } */
       