body{
    background-color: rgb(208, 224, 227);
}


/* logo main page */

.logo {
    
 width: 100%;
 height: 200px;
 /* border: 2px solid rgb(55, 63, 175); */
  padding: 0 8px 0 8px;
}

.logo img {
height: 46%;
width: 10%;
margin: 2% ;


}
img.B{
float:right;
border-radius: 2px;
/* margin-top: auto; */
}

h1{
    font-family: 'Pacifico', cursive;
    color:rgb(64, 178, 216);
    text-align: center;
    font-size: 60px;
    
   }


/* middle text */
p b{
    display: flex;
    text-align: center;
    color:rgb(44, 32, 178);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* main container photo and text */
.main-container{
    display: flex;
    width:97%;
    height: 500px;
    margin-top:5%;
    /* border: 4px solid orangered; */
    background-color: pink;
    padding: 16px;
}

.container.hiking{
    /* display: flex; */
    width:95%;
    height: 500px;
    margin-top:5%;
    /* border: 4px solid orangered; */
    padding: 16px;
    word-break: break-all;
    overflow:scroll;
  
}


/* style all the divs in the main container */

.main-container div{
    width: 30%;
    height: 55%;
    margin: 3% 4% 2% 3%;
    
}


/* img border for main div  */
img.lights{
 border: 2px solid rgb(209, 243, 57);
 height: 200px;
/* width: 20%; */
/* margin: 2% ; */

display: block;

}

.box1{
    border: 4px solid rgb(31, 153, 184);
}

/* northern light html */
.App{
    display:flex;
    background-color: rgb(233, 224, 206);
    border: 4px solid lightblue;
    text-align: center;
    justify-content: center;
    padding: 12px;
    word-break:break-all;
    overflow-wrap:break-word;

}

.page2{
    border: 4px solid rgb(147, 171, 233);
    background-color: rgb(233, 225, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 12px ;
    font-size: 18px;
    word-break: break-all;
    overflow: scroll;
   
    
}
.p2b1{
    border: 4px solid;
    margin:12px;
}

/* text on top  */
p.A1{
    color: white;
    
}

/* div.B{
    border: 4px solid rgb(43, 110, 226);
} */

/* text on bottom of img */
p.photo.caption{
    color:white;
    margin: 0;
}

p.Aurora{
    color:white;
    overflow: scroll;
    word-break: break-all;
    display: flex;
}

img{
    height:100%;
    width:100%;
}

/* events */
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:12px;
}

section a{
    color:rgb(192, 112, 218);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
h3.art{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

 div.article p.art {
    font-family: Arial, Helvetica, sans-serif;

}
    

/* table */
table, th, td {
  
    border: 2px solid rgb(247, 243, 243);
    border-collapse: collapse;
    padding:12px;
    background-color: rgb(255, 253, 250);
    margin-left: 14px;

}

th.price ,th.tot{
    background-color: rgb(67, 193, 63);
}
td.total{
    background-color:limegreen ;
}

th.red{
    background-color: rgb(227, 143, 172);
}

div.Contact{
    padding:8px;
   display: flex;
   align-items: flex-start;

   /* justify-content: center; */
     
}

.img{
    max-width: 4%;
    margin-top: 6%;
    padding:12px;

}

.contact.img{
    flex-basis: 40%;
}

/* menu */
.menu{
    background: rgb(246, 250, 248);
    height: 60px;
    text-align:center ;
    padding-top: 2%;
    
    
   
}

.menu a{
    text-decoration:none;
     padding-left: 10%;
     color:rgb(14, 73, 156);
     font-size: 16px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;


}


a.tel{
    /* display:inline-block; */
    margin-left: 6em;
    /* margin-bottom:2em; */
    /* vertical-align: middle; */
     
}
a.mail{
    margin-left:6em ;
}
a.insta{
    margin-left: 6em;
}

/* footer */
footer{
    width:100%;
    margin:12px;
    padding:4px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(53, 126, 168);

}


p.glacier{
    display:flex;
    overflow: scroll;
    padding:10px;
}

p.glacier,(text){
    display:flex;
}



p.otherwordly{
    display: flex;
    overflow: scroll;
    padding:10px;
}
 

/* form styling */

.container{

    width:100%; 
    font-family: 'Poppins', sans-serif;
    color:rgb(117, 135, 151);
    box-sizing: border-box;
    margin: 48px 12px;
    /* /* padding: 12px 24px 24px 24px; */
	
}


    .content{
        display: flex;
        justify-content: center;
}
    
input#name, #email{
    height: 50px;
    width: 60%;
    margin-top: 12px ;
    border-radius: 3px;
}


input.form-control.submit{
    background: rgb(172, 199, 218);
    border-color:transparent;
    color:rgb(44, 48, 51);
    font-size: 15px;
    letter-spacing: 2px;
    /* height: 50px; */
    /* margin-top: 20px;     */
}


textarea.form-control {
    padding: 20px;
    width:90%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:rgb(117, 135, 151);
    border: none;
    border-bottom: 1px solid rgb(117, 135, 151)
} 

.submit {
    border: 1px solid rgb(124, 123, 123);
    color:rgb(233, 237, 243);
    background-color: rgb(117, 135, 151);
    width:60%;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    border-radius: 4px;
    padding:10px;
  }


  .form-control  {
    width: 200px;
    border:none;
    outline: none;
    border-bottom: 1px solid rgb(155, 164, 172);
    font-size: 20px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    color:rgb(117, 135, 151);
    padding:10px;
 } 

 aside{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:rgb(138, 136, 153);
     margin-left: 10em;
     /* align-items:flex-start; */
     /* margin-top: 19rem; */
     margin-top: 5em;

 }


 