
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(to right, hotpink, rgb(214, 143, 61), rgb(255, 136, 0)) ;
}

main{
    background-color: slategray;
    height:auto;
    width: 100%;
}

.section1{

        height: auto;
        width: 100%;
        float: left;
        padding: 10px;
        display: flex;
        justify-content: space-around;

}
/* container */
.product-intro{
    width: 40%;
    display:inherit;
    flex-direction: column;
    align-items: center;
}

/* img container info */
.product-intro > img{
    width: 90%;
    height: 90%;
}

.section1 > div:nth-child(1){
    padding: 10px;
    background-color: rgba(211, 152, 152, 0.995);
}

.section1 > div:nth-child(2){
    background-color: rgb(211, 152, 152);
    padding: 12px;
}

.modal1{
    display: flex;
    flex-direction: column;
    color: rgb(255, 0, 0);
    width: 100%;
    min-height: 400px;
    background-color: rgb(70, 51, 51);
    pointer-events: none;
    position: fixed;
    top: 0;
    padding:5% 20% 50% 20%;
    opacity: 0;
}

.modal1:target{
    opacity: 0.9;
    pointer-events:all;

}

.modal1 > img{
    width: 60%;
}
/* buttons open/close */
a {
    padding:10px;
    text-decoration: none;
}
a.open{
    border: 2px solid  slategray;
}

button{
    padding: 10px;
    border: 2px solid  rgba(211, 152, 152, 0.995);
    color: slategrey;
   font-size: 22px;
}
